In [1]:
Print ("Rakshit")

NameError: name 'Print' is not defined

In [2]:
print ("Rakshit")

Rakshit

In [3]:
# Information about this program or command should be enterred

In [3]:
i=12 + 23

In [32]:
f=12 + 23.0

In [8]:
pi=22/7
print(pi)

3.142857142857143

In [17]:
pi

3.1428571428571423

In [12]:
pi=pi-2

In [16]:
pi=pi/2

In [18]:
rem=pi%2

In [19]:
rem

1.1428571428571423

In [20]:
r=pi**2

In [23]:
r

31.04373177842564

In [39]:
name='what is your name'

In [40]:
name

'what is your name'

In [41]:
type(name)

str

In [27]:
type(pi)

float

In [29]:
type(i)

int

In [33]:
type(f)

float

In [42]:
f_name="Rakshit"
l_name="Bhasin"

In [43]:
print("jaisa likhogey, waisa print karega")

jaisa likhogey, waisa print karega

In [46]:
print(p)

NameError: name 'p' is not defined

In [47]:
print("f_name")

f_name

In [49]:
print(f_name, l_name)

Rakshit Bhasin

In [50]:
print(f_name+l_name)

RakshitBhasin

In [53]:
print(f_name + "  " + l_name)

Rakshit  Bhasin

In [58]:
print("3" + f_name)

3Rakshit

In [59]:
t=3

In [62]:
print(t,f_name)

3 Rakshit

In [65]:
inp = input("Bhai, aapka naam kya hai ?")

Bhai, aapka naam kya hai ?Ranjan Bhasin

In [66]:
inp

'Ranjan Bhasin'

In [67]:
print("Customer's name is " + inp)

Customer's name is Ranjan Bhasin

In [1]:
5 > 6

False

In [2]:
6 > 5

True

In [3]:
5 == 6

False

In [4]:
x=25

In [38]:
a = 24

In [44]:
# Nested if block

if (a > 30):
    print("Correct")
    if(a<25):
        print("hello")
        if(a==23):
            print("23")
    print("Leaving the block")
elif (a <= 22):
    print("Less than 30")
    if(a==23):
        print("a=23")
elif (a <= 26):
    print("Less than 20")
    if(a < 24):
        print("a=24")
    elif(a < 25):
        print("a=25")
else:
    print("Incorrect")

print("byebye")

if(a==24 and a<20):
    print("Both are true")

Less than 20
a=25
byebye

In [54]:
# lst is a list which has multiple items - strings and numbers
lst=[0,3,0,4,0,6]

In [18]:
#this for loop is defined to access the items in lst
for abc in lst:
    print(abc)

1
2
3
4
5
Ranjan
Kapil
Rakshit
Dwija
Shaurya
10
20
30
40
50

In [56]:
for abc in lst:
    print(abc * "Children")
    print("Studying")

Studying
ChildrenChildrenChildren
Studying

Studying
ChildrenChildrenChildrenChildren
Studying

Studying
ChildrenChildrenChildrenChildrenChildrenChildren
Studying

In [57]:
for abc in lst:
    print(abc * "Children")
    print(abc * "Studying")

ChildrenChildrenChildren
StudyingStudyingStudying


ChildrenChildrenChildrenChildren
StudyingStudyingStudyingStudying


ChildrenChildrenChildrenChildrenChildrenChildren
StudyingStudyingStudyingStudyingStudyingStudying

In [6]:
#Nested for loop
family = ["Father","Mother","Son","Daughter",50,45,25,20]

for a in family:   #Outer For Loop
    print("First For Loop=", a)
    for b in family: # Inner For Loop
        print("Second For Loop=", b)
        for c in range(3): # Innermost For loop
            print("Innermost For loop=", c)

First For Loop= Father
Second For Loop= Father
Innermost For loop= 0
Innermost For loop= 1
Innermost For loop= 2
Second For Loop= Mother
Innermost For loop= 0
Innermost For loop= 1
Innermost For loop= 2
Second For Loop= Son
Innermost For loop= 0
Innermost For loop= 1
Innermost For loop= 2
Second For Loop= Daughter
Innermost For loop= 0
Innermost For loop= 1
Innermost For loop= 2
Second For Loop= 50
Innermost For loop= 0
Innermost For loop= 1
Innermost For loop= 2
Second For Loop= 45
Innermost For loop= 0
Innermost For loop= 1
Innermost For loop= 2
Second For Loop= 25
Innermost For loop= 0
Innermost For loop= 1
Innermost For loop= 2
Second For Loop= 20
Innermost For loop= 0
Innermost For loop= 1
Innermost For loop= 2
First For Loop= Mother
Second For Loop= Father
Innermost For loop= 0
Innermost For loop= 1
Innermost For loop= 2
Second For Loop= Mother
Innermost For loop= 0
Innermost For loop= 1
Innermost For loop= 2
Second For Loop= Son
Innermost For loop= 0
Innermost For loop= 1
Innermost For loop= 2
Second For Loop= Daughter
Innermost For loop= 0
Innermost For loop= 1
Innermost For loop= 2
Second For Loop= 50
Innermost For loop= 0
Innermost For loop= 1
Innermost For loop= 2
Second For Loop= 45
Innermost For loop= 0
Innermost For loop= 1
Innermost For loop= 2
Second For Loop= 25
Innermost For loop= 0
Innermost For loop= 1
Innermost For loop= 2
Second For Loop= 20
Innermost For loop= 0
Innermost For loop= 1
Innermost For loop= 2
First For Loop= Son
Second For Loop= Father
Innermost For loop= 0
Innermost For loop= 1
Innermost For loop= 2
Second For Loop= Mother
Innermost For loop= 0
Innermost For loop= 1
Innermost For loop= 2
Second For Loop= Son
Innermost For loop= 0
Innermost For loop= 1
Innermost For loop= 2
Second For Loop= Daughter
Innermost For loop= 0
Innermost For loop= 1
Innermost For loop= 2
Second For Loop= 50
Innermost For loop= 0
Innermost For loop= 1
Innermost For loop= 2
Second For Loop= 45
Innermost For loop= 0
Innermost For loop= 1
Innermost For loop= 2
Second For Loop= 25
Innermost For loop= 0
Innermost For loop= 1
Innermost For loop= 2
Second For Loop= 20
Innermost For loop= 0
Innermost For loop= 1
Innermost For loop= 2
First For Loop= Daughter
Second For Loop= Father
Innermost For loop= 0
Innermost For loop= 1
Innermost For loop= 2
Second For Loop= Mother
Innermost For loop= 0
Innermost For loop= 1
Innermost For loop= 2
Second For Loop= Son
Innermost For loop= 0
Innermost For loop= 1
Innermost For loop= 2
Second For Loop= Daughter
Innermost For loop= 0
Innermost For loop= 1
Innermost For loop= 2
Second For Loop= 50
Innermost For loop= 0
Innermost For loop= 1
Innermost For loop= 2
Second For Loop= 45
Innermost For loop= 0
Innermost For loop= 1
Innermost For loop= 2
Second For Loop= 25
Innermost For loop= 0
Innermost For loop= 1
Innermost For loop= 2
Second For Loop= 20
Innermost For loop= 0
Innermost For loop= 1
Innermost For loop= 2
First For Loop= 50
Second For Loop= Father
Innermost For loop= 0
Innermost For loop= 1
Innermost For loop= 2
Second For Loop= Mother
Innermost For loop= 0
Innermost For loop= 1
Innermost For loop= 2
Second For Loop= Son
Innermost For loop= 0
Innermost For loop= 1
Innermost For loop= 2
Second For Loop= Daughter
Innermost For loop= 0
Innermost For loop= 1
Innermost For loop= 2
Second For Loop= 50
Innermost For loop= 0
Innermost For loop= 1
Innermost For loop= 2
Second For Loop= 45
Innermost For loop= 0
Innermost For loop= 1
Innermost For loop= 2
Second For Loop= 25
Innermost For loop= 0
Innermost For loop= 1
Innermost For loop= 2
Second For Loop= 20
Innermost For loop= 0
Innermost For loop= 1
Innermost For loop= 2
First For Loop= 45
Second For Loop= Father
Innermost For loop= 0
Innermost For loop= 1
Innermost For loop= 2
Second For Loop= Mother
Innermost For loop= 0
Innermost For loop= 1
Innermost For loop= 2
Second For Loop= Son
Innermost For loop= 0
Innermost For loop= 1
Innermost For loop= 2
Second For Loop= Daughter
Innermost For loop= 0
Innermost For loop= 1
Innermost For loop= 2
Second For Loop= 50
Innermost For loop= 0
Innermost For loop= 1
Innermost For loop= 2
Second For Loop= 45
Innermost For loop= 0
Innermost For loop= 1
Innermost For loop= 2
Second For Loop= 25
Innermost For loop= 0
Innermost For loop= 1
Innermost For loop= 2
Second For Loop= 20
Innermost For loop= 0
Innermost For loop= 1
Innermost For loop= 2
First For Loop= 25
Second For Loop= Father
Innermost For loop= 0
Innermost For loop= 1
Innermost For loop= 2
Second For Loop= Mother
Innermost For loop= 0
Innermost For loop= 1
Innermost For loop= 2
Second For Loop= Son
Innermost For loop= 0
Innermost For loop= 1
Innermost For loop= 2
Second For Loop= Daughter
Innermost For loop= 0
Innermost For loop= 1
Innermost For loop= 2
Second For Loop= 50
Innermost For loop= 0
Innermost For loop= 1
Innermost For loop= 2
Second For Loop= 45
Innermost For loop= 0
Innermost For loop= 1
Innermost For loop= 2
Second For Loop= 25
Innermost For loop= 0
Innermost For loop= 1
Innermost For loop= 2
Second For Loop= 20
Innermost For loop= 0
Innermost For loop= 1
Innermost For loop= 2
First For Loop= 20
Second For Loop= Father
Innermost For loop= 0
Innermost For loop= 1
Innermost For loop= 2
Second For Loop= Mother
Innermost For loop= 0
Innermost For loop= 1
Innermost For loop= 2
Second For Loop= Son
Innermost For loop= 0
Innermost For loop= 1
Innermost For loop= 2
Second For Loop= Daughter
Innermost For loop= 0
Innermost For loop= 1
Innermost For loop= 2
Second For Loop= 50
Innermost For loop= 0
Innermost For loop= 1
Innermost For loop= 2
Second For Loop= 45
Innermost For loop= 0
Innermost For loop= 1
Innermost For loop= 2
Second For Loop= 25
Innermost For loop= 0
Innermost For loop= 1
Innermost For loop= 2
Second For Loop= 20
Innermost For loop= 0
Innermost For loop= 1
Innermost For loop= 2

In [5]:
for c in range(3):
    print("i=", c)
    for j in range(3):
        print("j=",j)

i= 0
j= 0
j= 1
j= 2
i= 1
j= 0
j= 1
j= 2
i= 2
j= 0
j= 1
j= 2

In [14]:
list1=["One","Two","Three",1,2,3]
list2=["3,2,1","Three","Two","One"]

#Create 3 nested for loops where first one loops over list1, second one loops over list2
#and third one loops over range(3) to print their values
#Start of code
for a in list1:
    print(a)
    for b in list2:
        print(b)
        for c in range(3):
            print(c)
    
#End Code

One
3,2,1
0
1
2
Three
0
1
2
Two
0
1
2
One
0
1
2
Two
3,2,1
0
1
2
Three
0
1
2
Two
0
1
2
One
0
1
2
Three
3,2,1
0
1
2
Three
0
1
2
Two
0
1
2
One
0
1
2
1
3,2,1
0
1
2
Three
0
1
2
Two
0
1
2
One
0
1
2
2
3,2,1
0
1
2
Three
0
1
2
Two
0
1
2
One
0
1
2
3
3,2,1
0
1
2
Three
0
1
2
Two
0
1
2
One
0
1
2

In [2]:
my_String="This is Sparta"

In [4]:
my_String[0]

'T'

In [12]:
number = 100
ctr = 5
n=50
m=30

In [7]:
# if, for, and, break, continue, else, as, are all keywords and they cannot be taken as variables

In [9]:
if (number>ctr):
    print("Yes")
    if(ctr<number):
        print("again yes")
    else:
        print("No within Yes")
else:
    print("No")
print("skip")

Yes
again yes
skip

In [13]:
if (n<m or m>50):
    print("Hello 1")
    if(m==30 and m<51):
        print("Hello 3")
    else:
        print("Hello 4")
else:
    print("Hello 2")

if (m>n and m>49):
    print("Hello 5")
else:
    print("Hello 6")

Hello 2
Hello 6

In [14]:
n=60
m=61
p=99
if (n<m or m>61):
    print("Hello 1")
    if(m==30 and m<51):
        print("Hello 3")
    else:
        print("Hello 4")
else:
    print("Hello 2")
    if (p<m):
        print("Hello 7")
    else:
        print("Hello 8")

if (m>p and m>49):
    print("Hello 5")
    if(p==99):
        print("Hello 9")
    else:
        print ("Hello 10")
else:
    print("Hello 6")
    if(p<n or n<p):
        print("hello 11")
    else:
        print("Hello 12")

Hello 1
Hello 4
Hello 6
hello 11

In [15]:
n=60
m=61
p=99
q=60

if (n<m or m>q):
    print("Hello 1")
    if(m==q and m<51):
        print("Hello 3")
    else:
        print("Hello 4")
else:
    print("Hello 2")
    if (p<m or q>m):
        print("Hello 7")
    else:
        print("Hello 8")

if (n>=q and m>49):
    print("Hello 5")
    if(p==99):
        print("Hello 9")
    else:
        print ("Hello 10")
else:
    print("Hello 6")
    if(p<n or n<p):
        print("hello 11")
    else:
        print("Hello 12")

Hello 1
Hello 4
Hello 5
Hello 9

In [11]:
for a in range(3):   #Outer For Loop
    print("First For Loop=", a)
    for b in range(2): # Inner For Loop
        print("Second For Loop=", b)
        for c in range(2): # Innermost For loop
             print("Third For loop=", c)

First For Loop= 0
Second For Loop= 0
Third For loop= 0
Third For loop= 1
Second For Loop= 1
Third For loop= 0
Third For loop= 1
First For Loop= 1
Second For Loop= 0
Third For loop= 0
Third For loop= 1
Second For Loop= 1
Third For loop= 0
Third For loop= 1
First For Loop= 2
Second For Loop= 0
Third For loop= 0
Third For loop= 1
Second For Loop= 1
Third For loop= 0
Third For loop= 1

In [12]:
for a in range(1):   #Outer For Loop
    print("First For Loop=", a)
    for b in range(2): # Inner For Loop
        print("Second For Loop=", b)
        for c in range(1): # Innermost For loop
             print("Third For loop=", c)

First For Loop= 0
Second For Loop= 0
Third For loop= 0
Second For Loop= 1
Third For loop= 0

In [13]:
for a in range(2):   #Outer For Loop
    print("First For Loop=", a)
    for b in range(2): # Inner For Loop
        print("Second For Loop=", b)
        for c in range(2): # Innermost For loop
             print("Third For loop=", c)

First For Loop= 0
Second For Loop= 0
Third For loop= 0
Third For loop= 1
Second For Loop= 1
Third For loop= 0
Third For loop= 1
First For Loop= 1
Second For Loop= 0
Third For loop= 0
Third For loop= 1
Second For Loop= 1
Third For loop= 0
Third For loop= 1

In [1]:
#assignment as on May 31st 2020
for i in range(2):
    print("*")
    for j in range(2):
        print("&")
        for k in range(2):
            print("$")

*
&
$
$
&
$
$
*
&
$
$
&
$
$

In [6]:
lst = ["Cricket",100,"Tennis",200,"Badminton",300,"Judo"]
print(lst[0])
print(lst[4])

Cricket
Badminton
Hello

In [12]:
for ctr in lst:
    if ctr==100:
        print("Correct")
    elif ctr=="Cricket":
        print("Cricket")
    elif ctr==300:
        print("my value is ", ctr)
    else:
        print("Skip")

Cricket
Correct
Skip
Skip
Skip
my value is  300
Skip

In [17]:
ground = ["kolkata","melbourne","lords","wellington",1,2,3,4]

city = ["delhi","mumbai","kolkata","kolkatta"]

for g in ground:
    if g=="India":
        print("kolkata")
    elif g==city[2]:
        print("My value is city")
    elif g==city[3]:
        print("My value is again city")
    else:
        print(g)

My value is city
melbourne
lords
wellington
1
2
3
4

In [18]:
#fibonacci Series

1,1,2,3,5,8,13,21,34,55,89,144,so on
1,2,3,4,5,6,7,8,9,10
#Assignment of June 05th 2020
# Create for loop to print fibonacci series
# Ask user to input until which step
#start code
inp=input("Please enter the step until you want to print fibonacci series")
inp=int(inp)
x=1
y=1
for

#end code

SyntaxError: invalid syntax (<ipython-input-18-186a1d858bad>, line 3)

In [1]:
# Assignment for June 02nd 2020
# Create a for loop to print even numbers
# Ask user to input until which step

In [2]:
#June 03rd 2020
i = input ("Please enter the number of odd numbers which you want  ")
j = int(i)
print(type(i))
print(type(j))

Please enter the number of odd numbers which you want  5
<class 'str'>
<class 'int'>

In [7]:
inp=input ("Please enter the number of multiples which you want  ")
inp=int(inp)

for i in range(inp):
    print(200*i + 50)

Please enter the number of odd numbers which you want  6
50
250
450
650
850
1050

In [11]:
inp=input ("Please enter the number of odd numbers which you want  ")
inp=int(inp)

for i in range(inp):
    print("i=", i)
    print(2*i + 1)
    print("\n")

Please enter the number of odd numbers which you want  6
i= 0
1


i= 1
3


i= 2
5


i= 3
7


i= 4
9


i= 5
11

In [20]:
# factorial of 5 = 5*4*3*2*1; factorial of 10 = 10*9*8*7*6*5*4*3*2*1
# factorial of 7 = 7*6*5*4*3*2*1

#take user input
n = input("Enter the number whose factorial you want to calculate")

#convert the user input into integer
n = int(n)

t=1
#calculate factorial

for d in range(n):
    t = t * (d+1)
    # t is a local variable which retains its value within for loop

print("factorial is",t)

Enter the number whose factorial you want to calculate9
factorial is 362880

In [23]:
"""
d=0
t= 1 * 1 = 1

d=1
t = 1 * 2 = 2

d=2
t = 2 * 3 = 6

d=3
t=6 * 4 = 24

d=4
t=24 * 5 = 120

d=5
t=120 * 6 = 720
"""

'\nd=0\nt= 1 * 1 = 1\n\nd=1\nt = 1 * 2 = 2\n\nd=2\nt = 2 * 3 = 6\n\nd=3\nt=6 * 4 = 24\n\nd=4\nt=24 * 5 = 120\n\nd=5\nt=120 * 6 = 720'

In [1]:
# multiplication of even numbers (5 even numbers = 2*4*6*8*10) (7 even numbers = 2*4*6*8*10*12*14)

#take user input
n = input("Enter the number whose factorial you want to calculate")

#convert the user input into integer
n = int(n)

#calculate multiplication of even numbers
t=1

for d in range(n):
    d = (d*2) + 2
    t = t * d

print("answer is",t)

#d = 0
#d = (0*2) +2 = 2
#t = 1 * 2 = 2

#d = 1
#d = (1*2) + 2 = 4
#t = 2 * 4 = 8

#d = 2
#d = (2*2) + 2 = 6
#t = 8 * 6 = 48

#d = 3
#d = (3*2) + 2 = 8
#t = 48 * 8 = 384

Enter the number whose factorial you want to calculate4
answer is 384

In [2]:
# Assignment of June 03rd
# multiplication of odd numbers (5 odd numbers = 1*3*5*7*9) (7 odd numbers = 1*3*5*7*9*11*13)

In [7]:
#June 05th 2020
t = "Rakshit"
s = "Shaurya"

print(t[1])
print(s[4])
print("\n")

# R a k s h i t
# 0 1 2 3 4 5 6

# S h a u r y a
# 0 1 2 3 4 5 6

for d in t:
    print(d)
print("\n")
for e in s:
    print(e)

a
r


R
a
k
s
h
i
t


S
h
a
u
r
y
a

In [23]:
num = [-12000,-10,-20,-4000,-30,-1,-2,-3,-40,-5,-10000,-1000,-100,-6,-200,-99,-500,-5000,-11000]

sum = 0
max=num[0]
min=num[0]

for d in num:
    sum=sum+d
print(sum)

#find maximum value in a list of numbers

for n in num:
    temp = n
    if temp > max:
        max = temp

print("Maximum of the list is ", max)

for n in num:
    temp = n
    if temp < min:
        min = temp

print("Minimum of the list is ", min)

-44016
Maximum of the list is  -1
Minimum of the list is  -12000

In [33]:
num = [12000,10,20,"S","F",4000,30,1,"Z",2,3,"R","K","B",100]

if type(num[8])==str:
    print("String")
else:
    print("Int")
#print the data type of each element of the list "num"  

for n in num:
    print(type(n))

#print the data type where we have string/text
print("\nPrinting the types of all string elements \n")
for e in num:
    if type(e)==str:
        print(type(e))

String
<class 'int'>
<class 'int'>
<class 'int'>
<class 'str'>
<class 'str'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'str'>
<class 'int'>
<class 'int'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'int'>

Printing the types of all string elements

<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>

In [1]:
#Assignment of June 05th
number = [2,4,6,8,20,40,60,80]
#find average of the list (sum of all elements divided by number of elements)
#number of elements can be found by len(number)
#start code

#end code

In [2]:
#June 06th 2020
#Lists are collection of elements with all data types together
l = [1,2,3,"a","b","c",4,5,6,"d","e","f",True,False,True,False,2.45,6.89,9.01]
print(type(l[15]))

<class 'bool'>

In [7]:
l.append(10)

In [8]:
print(l)

[1, 2, 3, 'a', 'b', 'c', 4, 5, 6, 'd', 'e', 'f', True, False, True, False, 2.45, 6.89, 9.01, 10]

In [9]:
l.remove(1)

In [10]:
print(l)

[2, 3, 'a', 'b', 'c', 4, 5, 6, 'd', 'e', 'f', True, False, True, False, 2.45, 6.89, 9.01, 10]

In [11]:
l.reverse()

In [12]:
print(l)

[10, 9.01, 6.89, 2.45, False, True, False, True, 'f', 'e', 'd', 6, 5, 4, 'c', 'b', 'a', 3, 2]

In [18]:
print(l.index(10))
print(l.count(True))
l.insert(5,"Bhasin")

0
2

In [20]:
print(l)
print(len(l))

[10, 9.01, 6.89, 2.45, False, 'Bhasin', True, False, True, 'f', 'e', 'd', 6, 5, 4, 'c', 'b', 'a', 3, 2]
20

In [21]:
#Assignment is to try all other methods of list

In [31]:
inp=[]
for i in range(5):
    inp.append(int(input("Please enter number # :")))

Please enter number # :100
Please enter number # :200
Please enter number # :300
Please enter number # :400
Please enter number # :500

In [33]:
inp

[5, 6, 7, 8, 9, 100, 200, 300, 400, 500]

In [34]:
for i in range(5):
    inp.insert(i,int(input("Please enter number # :")))

Please enter number # :10
Please enter number # :20
Please enter number # :30
Please enter number # :40
Please enter number # :50

In [35]:
inp

[10, 20, 30, 40, 50, 5, 6, 7, 8, 9, 100, 200, 300, 400, 500]

In [36]:
for i in reversed(range(5)):
    inp.insert(i,int(input("Please enter number # :")))

Please enter number # :11
Please enter number # :22
Please enter number # :33
Please enter number # :44
Please enter number # :55

In [39]:
print(inp)

[55, 10, 44, 20, 33, 30, 22, 40, 11, 50, 5, 6, 7, 8, 9, 100, 200, 300, 400, 500]

In [40]:
for i in reversed(range(2)):
    inp.insert(i+1, int(input("Please enter number # :")))

Please enter number # :99
Please enter number # :88

In [41]:
print(inp)

[55, 88, 10, 99, 44, 20, 33, 30, 22, 40, 11, 50, 5, 6, 7, 8, 9, 100, 200, 300, 400, 500]

In [44]:
sum=0
avg=0
#this for loop iterates over the elements of inp
for k in inp:
    sum=sum+k
print(sum)
#average is calculated by dividing the sum by length of inp 
avg=sum/len(inp)
print("Average of list = ", avg)

2037
Average of list =  92.5909090909091

In [1]:
# try 3 different for loops with different methods of list except insert
# you can use inp as your list

In [5]:
#June 07th 2020
conda list python

Note: you may need to restart the kernel to use updated packages.

'conda' is not recognized as an internal or external command,
operable program or batch file.

In [9]:
k = l.copy()
print(k)

[1, 2, 3, 'a', 'b', 'c', 4, 5, 6, 'd', 'e', 'f', True, False, True, False, 2.45, 6.89, 9.01, 1, 2]

In [10]:
m=[1,2]
l.extend(m)
print(l)

[1, 2, 3, 'a', 'b', 'c', 4, 5, 6, 'd', 'e', 'f', True, False, True, False, 2.45, 6.89, 9.01, 1, 2, 1, 2]

In [12]:
print(l.pop(5))
print(l)

4
[1, 2, 3, 'a', 'b', 5, 6, 'd', 'e', 'f', True, False, True, False, 2.45, 6.89, 9.01, 1, 2, 1, 2]

In [13]:
l.sort()

TypeError: '<' not supported between instances of 'str' and 'int'

In [4]:
m=[1,2]
m.append(5)
m.append(20)
m.append(1)
m

[1, 2, 5, 20, 1]

In [5]:
m.sort()
print(m)

[1, 1, 2, 5, 20]

In [4]:
m.sort(reverse=True)
m

[20, 5, 2, 1, 1]

In [5]:
m.sort()
m

[1, 1, 2, 5, 20]

In [7]:
print("length of m is", len(m))
print("min of m is", min(m))
print("max of m is", max(m))

length of m is 5
min of m is 1
max of m is 20

In [1]:
import tkinter as tk

In [2]:
def write_slogan():
    print("Tkinter is easy to use!")

root = tk.Tk()
frame = tk.Frame(root)
frame.pack()

button = tk.Button(frame, 
                   text="QUIT", 
                   fg="red",
                   command=quit)
button.pack(side=tk.LEFT)
slogan = tk.Button(frame,
                   text="Hello",
                   command=write_slogan())
slogan.pack(side=tk.LEFT)

root.mainloop()

Tkinter is easy to use!

In [23]:
#June 08th 2020
Professions = ["Doctor", "Singer", "Actor", "Chef", "Dancer", "Artist", "Director", "Musician", "Teacher", "Engineer","Labour"]
                  
Hobbies = ["Singing"]

In [3]:
Professions.extend(Hobbies)
print(Professions)

['Doctor', 'Singer', 'Actor', 'Chef', 'Dancer', 'Artist', 'Director', 'Musician', 'Teacher', 'Engineer', 'Singing']

In [6]:
#Assignment #1 - Use all methods of list Professions without "for" loop
#Professions = ["Doctor", "Singer", "Actor", "Chef", "Dancer", "Artist", "Director", "Musician", "Teacher", "Engineer"]

In [9]:
Professions.sort(reverse=True)
print(Professions)

['Teacher', 'Singer', 'Musician', 'Engineer', 'Doctor', 'Director', 'Dancer', 'Chef', 'Artist', 'Actor']

In [13]:
#index of the list will continue to change;
for k in Professions:
    Professions.remove(k)

In [24]:
for k in Professions:
    Professions.pop(0)

In [25]:
print(Professions)

['Director', 'Musician', 'Teacher', 'Engineer', 'Labour']

In [26]:
#Assignment #2 is to remove all elements of list without using pop and remove
#Professions = ["Doctor", "Singer", "Actor", "Chef", "Dancer", "Artist", "Director", "Musician", "Teacher", "Engineer"]

In [5]:
#dictionary is another data type which is in the form of key:value pairs
names = {"FirstName":["Rakshit","Dwija","Shaurya"],"LastName":["Bhasin","Bhasin","Bhasin"],"Place":"Janak Puri"}

In [6]:
print(names)

{'FirstName': ['Rakshit', 'Dwija', 'Shaurya'], 'LastName': ['Bhasin', 'Bhasin', 'Bhasin'], 'Place': 'Janak Puri'}

In [7]:
names.keys()

dict_keys(['FirstName', 'LastName', 'Place'])

In [8]:
names.items()

dict_items([('FirstName', ['Rakshit', 'Dwija', 'Shaurya']), ('LastName', ['Bhasin', 'Bhasin', 'Bhasin']), ('Place', 'Janak Puri')])

In [9]:
names.values()

dict_values([['Rakshit', 'Dwija', 'Shaurya'], ['Bhasin', 'Bhasin', 'Bhasin'], 'Janak Puri'])